.material-symbols-rounded {
  font-variation-settings: "FILL" 1, "wght" 200, "GRAD" 0, "opsz" 24;
  cursor: default;
}
.btn .material-symbols-rounded {
  vertical-align: bottom;
  cursor: pointer;
}

[data-bs-theme="dark"] {
  --bs-text: white;
  --bg-div-between: #483d8b;

  .navbar-brand,
  .nav-link {
    color: white;
  }
  .navbar-brand:hover,
  .navbar-brand:focus {
    color: white;
  }

  .bg-blurred {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: -1;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: (3px);
  }
}

.btn-primary {
  background-color: rgb(137, 4, 214);
  border-color: rgb(137, 4, 214);
  color: white;
}

.btn-primary:hover {
  background-color: rgb(122, 1, 192) !important;
  border-color: rgb(122, 1, 192) !important;
}

.btn-primary:active,
.btn-primary:focus {
  background-color: rgb(122, 1, 192);
  border-color: rgb(122, 1, 192);
  filter: brightness(90%);
}

nav {
  width: 60%;
  border-radius: 15px;
  top: 20px;
  position: fixed !important;
  z-index: 1;
}

@media (max-width: 576px) {
  nav {
    width: 100%;
    border-radius: 0;
    top: 0;
  }
}

.nav-link:hover,
.nav-link:focus,
nav .show {
  color: var(--bs-text) !important;
}

.navbar-brand {
  font-family: "Sometype Mono", monospace;
}

nav .material-symbols-rounded {
  color: var(--bs-text);
}

#nav-placeholder {
  display: flex;
  justify-content: center;
}

body {
  background-image: url(assets/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#socials {
  height: 30px;
  width: 100px;
  gap: 30px;
}

#socials img {
  height: 20px;
  width: 20px;
}

#socials img:not(:hover) {
  filter: brightness(1);
  transform: scale(1.2) rotate(0deg);
  transition: all 0.4s;
}

#socials img:hover {
  filter: brightness(1.5);
  transform: scale(1.5) rotate(15deg);
  transition: all 0.4s;
}

#top-div {
  background-image: url(assets/mj_top_main.png);
  background-size: cover;
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  height: 100vh;
  padding-top: 110px;
}

@media (max-width: 1700px) {
  #top-div {
    background-image: none;
    background-color: rgb(11, 15, 19) !important;
    height: auto;
    padding-bottom: 40px;
  }
}

h1 {
  color: white;
  font-weight: bold;
  font-size: 3em;
}

.sub-heading {
  color: white;
  font-size: 2em;
}

#heading-name {
  background: rgb(199, 4, 157);
  background: linear-gradient(
    129deg,
    rgb(199, 4, 157) 0%,
    rgba(0, 182, 180, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.heading-emphasize {
  color: rgb(0, 182, 180);
  font-weight: bold;
}

#portrait {
  width: 80%;
  margin: auto;
  filter: drop-shadow(0px 0px 20px rgb(144, 74, 172));
  transform: rotateY(180deg);
  border-radius: 20px;
  animation: moveUpDown 4s infinite ease-in-out;
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

.bg-div-between {
  background-color: transparent;
}

#techstack img {
  width: 50%;
}

#techstack div {
  text-align: center;
}

#techstack div:hover {
  transform: translateY(-10px);
  transition: all 0.6s;
}

#techstack div:not(:hover) {
  transform: translateY(10px);
  transition: all 0.6s;
}
