.material-symbols-rounded {
  font-variation-settings: "FILL" 1, "wght" 200, "GRAD" 0, "opsz" 24;
  cursor: default;
}
.btn .material-symbols-rounded {
  vertical-align: bottom;
  cursor: pointer;
}

:root {
  --bs-text: rgb(233, 233, 233);
  --bs-body: #383e4e;
}

body {
  font-family: "Cabinet Grotesk", sans-serif;
  background-color: var(--bs-body);
  color: var(--bs-text);
  transition: background-color 1s, color 1s;
}

section {
  min-height: 100vh;
  padding-top: 110px;
}

.navbar-brand,
.nav-link {
  color: var(--bs-text);
}

.navbar-brand:hover,
.navbar-brand:focus {
  color: var(--bs-text);
}

.btn {
  transition: all 1s;
}

#mobile-nav {
  background-color: transparent;
  backdrop-filter: blur(12px);
  color: var(--bs-text);
  z-index: 1;
  transition: all 1s;
}

#desktop-nav {
  background-color: transparent;
  backdrop-filter: blur(12px);
  color: var(--bs-text);
  z-index: 1;
  transition: all 1s;
}

#nav-spacer {
  width: 150px;
}

.navbar-brand {
  font-family: "Sometype Mono", monospace;
  font-weight: bold;
}

nav .material-symbols-rounded {
  color: var(--bs-text);
}

#socials {
  height: 30px;
  width: 100px;
  gap: 30px;
}

#socials img {
  height: 20px;
  width: 20px;
}

#socials img:not(:hover) {
  filter: brightness(1);
  transform: scale(1.2) rotate(0deg);
  transition: all 0.4s;
}

#socials img:hover {
  filter: brightness(1.5);
  transform: scale(1.5) rotate(15deg);
  transition: all 0.4s;
}

h1 {
  color: var(--bs-text);
  font-weight: bold;
  font-size: 4vmax;
}

h2 {
  font-weight: bold;
  font-size: 3em;
}

.sub-heading {
  color: var(--bs-text);
  font-size: 1.7vmax;
}

#portrait {
  width: 80%;
  margin: auto;
  filter: drop-shadow(0px 0px 20px rgb(144, 74, 172)) sepia(0.5);
  border-radius: 20px;
  animation: moveUpDown 4s infinite ease-in-out;
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0) rotateY(180deg);
  }
  50% {
    transform: translateY(30px) rotateY(180deg);
  }
}

#techstack-container {
  height: 100px;
}

#techstack-container img {
  width: 50px;
  height: 50px;
}

#techstack-container img:hover {
  transform: translateY(-10px);
  transition: all 0.6s;
}

#techstack-container img:not(:hover) {
  transform: translateY(10px);
  transition: all 0.6s;
}

#about p {
  font-size: 2em;
}

.card {
  cursor: pointer;
  transition: all 0.4s;
}

.card:hover {
  transform: scale(1.05);
  filter: grayscale();
}

.card img {
  padding: 15px;
}

[data-bs-theme="light"] .card,
[data-bs-theme="light"] .modal-content,
[data-bs-theme="light"] input,
[data-bs-theme="light"] textarea {
  background-color: rgb(221, 221, 221);
}

[data-bs-theme="light"] input:focus,
[data-bs-theme="light"] textarea:focus {
  background-color: rgb(221, 221, 221);
}

[data-bs-theme="light"] input,
[data-bs-theme="light"] textarea {
  border-color: rgb(73, 73, 73);
}

.rect-container {
  display: inline-block;
  margin-right: 15px;
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  overflow: hidden;
  position: relative;
  border: 1px solid var(--bs-text);
  background-color: transparent;
  padding: 5px;
  transition: all 0.4s;
}

.rect-container.active {
  transform: rotate(0);
  background-color: var(--bs-text);
}

.rect-container.active + span {
  font-size: 24px !important;
}

.rect-container + span {
  transition: all 0.6s;
}

@media (max-width: 1426px) {
  #mobile-nav {
    display: flex;
    visibility: visible;
  }

  #desktop-nav {
    display: none;
    visibility: hidden;
  }
}

@media (min-width: 1426px) {
  #mobile-nav {
    display: none;
    visibility: hidden;
  }

  #desktop-nav {
    display: flex;
    visibility: visible;
  }
}

#desktop-nav a {
  color: var(--bs-text);
  font-size: 1.5em;
  text-decoration: none;
}

#bg-1 {
  position: fixed;
  background-color: rgb(96, 33, 155);
  top: 0;
  left: 0;
  z-index: -1;
  width: 50%;
  height: 30%;
  object-fit: cover;
  object-position: center;
  filter: blur(150px);
  border-radius: 50%;
  transition: all 1s;
}

#bg-2 {
  position: fixed;
  background-color: rgba(190, 221, 17, 0.308);
  top: 0;
  left: 0;
  transform: translateX(50%) translateY(50%);
  z-index: -1;
  width: 50%;
  height: 30%;
  object-fit: cover;
  object-position: center;
  filter: blur(150px);
  border-radius: 50%;
  transition: all 1s;
}

#bg-3 {
  position: fixed;
  background-color: rgb(24, 97, 116);
  top: 0;
  left: 0;
  transform: translateX(100%);
  z-index: -1;
  width: 50%;
  height: 30%;
  object-fit: cover;
  object-position: center;
  filter: blur(150px);
  border-radius: 50%;
  transition: all 1s;
}